th{
    color: red;
    text-align: center;
}

td{
    color: blue;
    text-align: center;
}

table{
    width: 40%;
    height: 40;
    margin:auto;
}

form{
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0em;
    text-align: left;
}